<div *ngIf="detailOrderModalStatus" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h2>Деталі замовлення</h2>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <p><strong>ID:</strong> {{ currentOrder.id }}</p>
      <p><strong>Дата:</strong> {{ currentOrder.orderDate | date: 'dd.MM.yyyy' }}</p>
      <p><strong>Клієнт:</strong> {{ currentOrder.clientName }}</p>
      <p><strong>Адреса доставки:</strong> {{ currentOrder.shippingAddress }}</p>
      <p><strong>Сума:</strong> {{ currentOrder.amount }} грн</p>
      <p><strong>Статус:</strong> {{ orderStatuses[currentOrder.status].title }}</p>
      <!-- Додайте інші деталі замовлення, які ви хочете відображати -->
    </div>
  </div>
</div>
