<div class="container">
  <div class="row">
    <!-- панель навігації -->
    <div class="col-3 nav-bar d-flex flex-column">
      <ul>
        <li class="nav-bar-item">
          <a [routerLink]="['personal-data']" routerLinkActive="active"
            >Персональні дані</a
          >
        </li>
        <li class="nav-bar-item">
          <a [routerLink]="['order-history']" routerLinkActive="active"
            >Історія покупок</a
          >
        </li>
        <li class="nav-bar-item">
          <a [routerLink]="['notifications']" routerLinkActive="active"
            >Повідомлення</a
          >
        </li>
        <li class="nav-bar-item">
          <a [routerLink]="['delivery-addresses']" routerLinkActive="active"
            >Адреси доставок</a
          >
        </li>
        <li class="nav-bar-item">
          <a [routerLink]="['change-password']" routerLinkActive="active"
            >Зміна паролю
          </a>
        </li>
      </ul>
      <button class="my-btn exit-btn" (click)="logout()">ВИХІД</button>
      <button class="my-btn del-btn" (click)="deleteAccount()">видалити акаунт</button>
    </div>

    <!-- блок де вставлятимуться дочірні компонетнти адмін-->
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
