<div class="spacer-md"></div>
<div class="center-info">
  <h1 class="h2 title text-center">Акції на суші</h1>
</div>
<div class="spacer-md"></div>
<div>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div
        *ngFor="let promotion of userPromotions"
        class="col-xl-5 col-md-6 col-12"
      >
        <div class="block-info">
          <a 
          [routerLink]="[ '/promotion', promotion.id]" class="block-info-link">
            <div class="block-info-img">
              <img [src]="promotion.imagePath"/>
            </div>
            <h5 class="title text-cut-2 text-center">{{ promotion.title }}</h5>
          </a>
          <div class="text-sm text-cut-3"></div>
          <hr />
          <a class="btn" 
          >дізнатись більше</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-xl"></div>
<div class="seo-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-12">
        <div class="spacer-md"></div>
        <div class="row seo-block-inner">
          <div class="col-12 no-image align-self-center">
            <div class="seo-block-info">
              <div class="article">
                <h1 class="h2">Суші-акції у Львові</h1>
                <p>
                  Мрієте смакувати суші, не переплачуючи? З Monosushi це
                  можливо! Ми зібрали найвигідніші акційні суші у Львові у цьому
                  розділі сайту. Ви можете легко ознайомитися з усіма
                  спеціальними пропозиціями та замовити роли за привабливою
                  ціною. А ще — отримати рол або цілий сет у подарунок!
                </p>
                <h2>Акційні суші, які вам точно сподобаються</h2>
                <p>
                  Ми пропонуємо смачні та вигідні акції, які допоможуть
                  смакувати ролами вигідно:
                </p>
                <ul>
                  <li>
                    Акція “Рол тижня”. Знижка 50% на один з ролів у нашому меню.
                  </li>
                  <li>
                    3+1 = 5. Замовляйте 4 роли та отримуйте п’ятий абсолютно
                    безкоштовно. Те, що треба на велику компанію.
                  </li>
                  <li>
                    День народження з Моносуші. Отримайте “Запечений сет” у
                    подарунок, якщо сьогодні святкуєте день народження.
                  </li>
                  <li>
                    Акція на самовивіз. Якщо ви забираєте суші самостійно,
                    отримайте запечені моно макі у подарунок.
                  </li>
                  <li>
                    Фотомарафон — розіграш ролів за контент зі згадкою Monosushi
                    в соціальних мережах.
                  </li>
                </ul>
                <h2>Доставка суші по акції у Львові: правила від Monosushi</h2>
                <p>
                  Більшість наших акцій не сумуються між собою, а також доступні
                  при замовленні суші на певну суму. Ознайомитися з правилами та
                  умовами кожної акції можна, натиснувши “Дізнатися більше”.
                  Також наші менеджери із задоволенням проконсультують вас акцій
                  на суші у Львові.
                </p>
                <p>
                  Швидка доставка акційних суші, неповторний смак, аромат та
                  гарна подача гарантовані. Адже ми — справжні перфекціоністи,
                  які дуже уважні до дрібниць. Готуємо роли з добірних
                  продуктів, стежимо за дотриманням усіх тонкощів кулінарного
                  процесу. На нашій кухні стерильно, а наші рецепти — досконалі.
                </p>
                <p>
                  Скоріш оформляйте замовлення та смакуйте улюблені роли вигідно
                  з Monosushi!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-xl"></div>
</div>
