<div
  *ngIf="callBackModalStatus"
  class="call-back-modal-overlay"
  (click)="closeModal($event)"
>
  <div class="container-modal">
    <div class="call-back-modal text-center">
      <div class="popup-title title h3">МИ ЗАТЕЛЕФОНУЄМО</div>
      <div class="popup-description">
        Залиште номер телефону і наші менеджери зв’яжуться з вами
      </div>
      <div class="form popup-form">
        <div class="wpcf7 js" id="wpcf7-f626-o1">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form
            action="/#wpcf7-f626-o1"
            method="post"
            class="wpcf7-form init"
            aria-label="Contact form"
            novalidate="novalidate"
            data-status="init"
          >
            <div style="display: none">
              <input type="hidden" name="_wpcf7" value="626" />
              <input type="hidden" name="_wpcf7_version" value="5.8.4" />
              <input type="hidden" name="_wpcf7_locale" value="uk" />
              <input
                type="hidden"
                name="_wpcf7_unit_tag"
                value="wpcf7-f626-o1"
              />
              <input type="hidden" name="_wpcf7_container_post" value="0" />
              <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
              <input type="hidden" name="_wpcf7_recaptcha_response" />
            </div>
            <p>
              <span class="wpcf7-form-control-wrap" data-name="your-name"
                ><input
                  size="40"
                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input"
                  aria-required="true"
                  aria-invalid="false"
                  placeholder="Ваше ім'я"
                  value=""
                  type="text"
                  name="your-name" /></span
              ><br />
              <span class="wpcf7-form-control-wrap"
                ><input
                  size="40"
                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input inputmask"
                  aria-required="true"
                  aria-invalid="false"
                  placeholder="Ваш номер телефону"
                  value=""
                  type="text"
                  name="your-phone" /></span
              ><br />
              <button class="btn btn-primary btn-block" type="submit">
                надіслати
              </button>
            </p>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
    </div>
    <button class="btn-close close-popup" (click)="closeModal($event)">
      <span></span>
    </button>
  </div>
</div>
