<div class="adm-orders-cont container-fluid">
  <button class="add-order-btn">
    ДОДАТИ ЗАМОВЛЕННЯ
  </button>

  <div class="add-block" *ngIf="addBlockStatus">
    <div class="form-block">
      <form action="">
        <input
          type="text"
          name="клієнт"
          placeholder="Покупець"
        />
        <input
          type="text"
          name="shippingAddress"
          placeholder="Адреса доставки"
        />
        <input type="text" name="amount" placeholder="Загальна сума" />

        <br />
        <input type="submit" value="ЗБЕРЕГТИ" />
      </form>
    </div>
  </div>
  <div class="adding-block"></div>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Дата</th>
        <th>Клієнт</th>
        <th>Адреса доставки</th>
        <th>Сума</th>
        <th>Статус</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="outer-table-row" >
        <td class="outer-td"></td>
        <td class="outer-td"></td>
        <td class="outer-td"></td>
        <td class="outer-td"></td>
        <td class="outer-td"> </td>
        <td class="outer-td"></td>
        <td class="outer-td">
          <button  >Деталі</button>
          <button >Відмінити</button>
          <div class="modal-order-datail"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
