<footer>
  <div class="footer-top">
    <a href="#" class="footer-item logo-block">
      <img class="logo" src="../../../assets/images/logo.svg" alt="" />
    </a>
    <ul class="footer-menu">
      <li class="menu-item"><a class="" href="">Акції на суші</a></li>
      <li class="menu-item"><a class="" href="">Про нас</a></li>
      <li class="menu-item"><a class="" href="">Оферта</a></li>
    </ul>
    <div class="footer-info">
      <div>
        <p><strong>Точки самовивозу</strong></p>
        <p>вул. Володимира Великого, 10в</p>
        <p>вул. Чорновола, 95</p>
        <p>вул. Зелена 204б</p>
      </div>
      <div>
        <p><strong>Оформити замовлення</strong></p>
        <p>
          <a href="#">+380978780837</a>
        </p>
      </div>
      <div>
        <p><strong>Графік роботи</strong></p>
        <p>працюємо з 11:00 до 22:30</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-item copyright">© 2024 Monosushi</div>
    <div class="pay-cards">
      <div class="pay-card-item">
        <img src="../../../assets/images/pay-card-img-1.svg" alt="" />
      </div>
      <div class="pay-card-item">
        <img src="../../../assets/images/pay-card-img-2.svg" alt="" />
      </div>
      <div class="pay-card-item">
        <img src="../../../assets/images/pay-card-img-3.svg" alt="" />
      </div>
    </div>
    <div class="fop-name">ФОП Тимофійчук Максим Ігорович</div>
    <div class="follow-us">
      <div>Слідкуйте за нами</div>
      <button>
        <img src="../../../assets/images/facebook-icon.svg" alt="" />
      </button>
      <button>
        <img src="../../../assets/images/instagram-icon.svg" alt="" />
      </button>
    </div>
    <div class="footer-item">
      <a href="#">Створення сайтів</a> <span> REDSTONE </span>
    </div>
  </div>

</footer>
