<div class="header">
  <a href="#" class="header-logo">
    <img src="../../../assets/images/logo.svg" alt="logo" />
  </a>
  <div class="menu">
    <div class="run-border menu-item promotion">
      <a routerLink="/promotion" href="#">
        <img src="../../../assets/images/nav-img-gift.svg" alt="nav-img-gift" />
        <span class="menu-item-name">Акції</span>
      </a>
    </div>
    <ul class="products"  >
     
      <li class="run-border menu-item" *ngFor="let category of headerCategories">
        <a [routerLink]="['/products', category.path]"> 
          <img 
            [src]="category.imagePath"
             alt="nav-img-gift"
          />
          <span class="menu-item-name">{{ category.path}}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- ============ -->
  <div class="burger-block">
    <div
      (click)="toggleBurger()"
      [ngClass]="{ 'open border-none': isOpenBurger }"
      class="burger-menu"
      id="burger-menu"
    >
      <span [ngClass]="{ 'border-none': isOpenBurger }"></span>
      <div class="burger"></div>
      <div [ngClass]="{ active: isOpenBurger }" class="dropdown-menu">
        <div class="dropdown-item">
          <a routerLink="delivery-payment">Доставка та оплата</a>
        </div>
        <div class="dropdown-item">
          <a routerLink="about">Про нас</a>
        </div>
        <div class="dropdown-item">
          <a routerLink="promotion"></a>
          Акції на суші
        </div>
      </div>
    </div>
  </div>
  <div class="call-back" (click)="openCallBackModal()">
    <div class="call-back-img">
      <img src="../../../assets/images/phone.svg" alt="" />
    </div>
    <div class="call-back-span">МИ ЗАТЕЛЕФОНУЄМО</div>
  </div>
  <div class="phone-block">
    <div class="bold phone-num">+380961234567</div>
    <div class="schedule">
      Працюємо з <span class="bold">11:00</span> до
      <span class="bold">22:30</span>
    </div>
  </div>
  <div class="user-block" (click)="openUserLoginModal()">
    <a [routerLink]="[ 'admin']" routerLinkActive="active">
      <div class="user-btn run-border">
      <img src="../../../assets/images/user.svg" alt="" />
    </div>  
    
    </a>
    
  </div>
  <div
    (click)="openCloseCart()"
    class="basket-block"
    [ngClass]="{ active: isCartStatus }"
  >
    <div class="basket-img-block">
      <div class="goods-quantity">0</div>
      <img src="../../../assets/images/basket.svg" alt="" />
    </div>
    <div class="basket-sum-block">
      <span class="sum bold">{{ total}}</span>
      <span>грн</span>
    </div>
    <!-- модалка -->

    <!-- ============================ -->
  </div>
</div>
<div *ngIf="isCartStatus" class="cart-modal">
  <ng-container *ngIf="shoppingList.length; else emptyCartTemplate">
  </ng-container>

  <ng-template #emptyCartTemplate>
    <div class="empty-cart-container">
      <img
        src="../../../assets/images/cart-empty-img.svg"
        alt="cart-empty-img"
        width="80px"
      />
      <p class="">Кошик порожній</p>
      <button class="empty-cart-btn">ПЕРЕЙТИ ДО КАТАЛОГУ</button>
    </div>
  </ng-template>

  <div class="basket-list"></div>
  <div class="cart-footer">
    <div class="sum-block">Сума: <span class="sum bold"></span></div>

    <button type="button" class="checkout-btn bold">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
  </div>
</div>
