@use '@angular/material' as mat;

@import "../../shared/styles/custome";
@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

// @use '../src/app/shared/styles/_custom-theme' as theme;

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
  }
}
.dialog-link {
  cursor: pointer;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    cursor: default;
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: var(--lighter-color);
  cursor: default;
}
// ------ test---------

.btn-submit{
  padding: 12px;
  background-color: $mainColor;
  border-radius: 4px;
  font-weight: bold;
  &:hover{
    cursor: default;
    background-color: darken($mainColor, 5%); 
  }
}





