<div class="p-4 auth-modal">
  <h3 class="title text-center">
    {{ isLogin ? "Вхід в кабінет" : "Зареєструватись" }}
  </h3>
  <div class="w-100"></div>
   <!-- форма для логінації -->
  <form *ngIf="isLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ваш email</mat-label>
        <input
          class="custom-form-field"
          matInput
          type="email"
          formControlName="email"
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Неправильне введення
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>*Пароль</mat-label>
            <input matInput (input)="checkConfirmedPassword()" type="password" formControlName="password" />
            <mat-error *ngIf="loginForm.get('repeatPassword')?.hasError('required')">'requir
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <button color="secondary" type="submit" mat-dialog-close class="btn-submit">
      УВІЙТИ В КАБІНЕТ
    </button>
  </form>
  <!-- форма для реєстрації -->
  <form *ngIf="!isLogin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Ваше ім'я</mat-label>
            <input matInput type="text" formControlName="firstName" />
            <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Ваше прізвище</mat-label>
            <input matInput type="text" formControlName="lastName" />
            <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput type="text" formControlName="phoneNumber" />
        <mat-error *ngIf="registerForm.get('phoneNumber')?.hasError('required')">
          Неправильне введення
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ваш email</mat-label>
        <input
          class="custom-form-field"
          matInput
          type="email"
          formControlName="email"
        />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Неправильне введення
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>*Пароль</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Повторіть пароль</mat-label>
            <input matInput (input)="checkConfirmedPassword()" type="password" formControlName="confirmedPassword" />
            <mat-error *ngIf="checkVisibilityError('confirmedPassword', 'matchError')">
              ..doesn't match
            </mat-error>
          </mat-form-field>

        </div>
      </div>
    </div>


    <button type="submit" class="btn-submit" >
      ЗАРЕЄСТРУВАТИСЬ
    </button>
  </form>
  <p class="mt-2 text-center">
    <span *ngIf="isLogin" (click)="changeIsLoginStatus()" class="dialog-link"
      >Зареєструватись</span
    >
    <span *ngIf="!isLogin"
      >Ви вже зареєстровані?
      <span class="dialog-link" (click)="changeIsLoginStatus()"
        >Увійти</span
      ></span
    >
  </p>
  <button (click)="closeDialog()" class="close-button">&times;</button>
</div>
