<div class="p-4 auth-modal">
  <h3 class="title text-center">
    {{ isLogin ? "Вхід в кабінет" : "Зареєструватись" }}
  </h3>
  <div class="w-100"></div>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="form-group" *ngIf="!isLogin">
          <mat-form-field appearance="outline">
            <mat-label>Ваше ім'я</mat-label>
            <input matInput type="text" formControlName="firstName" />
            <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" *ngIf="!isLogin">
          <mat-form-field appearance="outline">
            <mat-label>Ваше прізвище</mat-label>
            <input matInput type="text" formControlName="lastName" />
            <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="form-group" *ngIf="!isLogin">
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput type="text" formControlName="phoneNumber" />
        <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
          Неправильне введення
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ваш email</mat-label>
        <input
          class="custom-form-field"
          matInput
          type="email"
          formControlName="email"
        />
        <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
          Неправильне введення
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div [ngClass]="{ 'col-12': isLogin, 'col-6': !isLogin }">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>*Пароль</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" *ngIf="!isLogin">
          <mat-form-field appearance="outline">
            <mat-label>Повторіть пароль</mat-label>
            <input matInput type="password" formControlName="repeatPassword" />
            <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
              Неправильне введення
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <button color="secondary" type="submit" mat-dialog-close class="btn-submit" *ngIf="isLogin">
      УВІЙТИ В КАБІНЕТ
    </button>
    <button color="secondary" type="submit" mat-dialog-close class="btn-submit" *ngIf="!isLogin">
      ЗАРЕЄСТРУВАТИСЬ
    </button>
  </form>
  <p class="mt-2 text-center">
    <span *ngIf="isLogin" (click)="changeIsLoginStatus()" class="dialog-link"
      >Зареєструватись</span
    >
    <span *ngIf="!isLogin"
      >Ви вже зареєстровані?
      <span class="dialog-link" (click)="changeIsLoginStatus()"
        >Увійти</span
      ></span
    >
  </p>
  <button (click)="closeDialog()" class="close-button">&times;</button>
</div>
