@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.banner {
  position: relative;
  .center-info {
    margin: 0 auto;
    max-width: 550px;
    .title {
      position: relative;
      display: inline-block;
      padding-top: 10px;
      &:before {
        display: block;
        content: "";
        position: relative;
        left: 0;
        top: 0;
        border-radius: 10px;
        width: 100%;
        height: 5px;
        background: #b5d8f7;
      }
    }
  }
}
.container-fluid {
  .simple-page > * {
    margin-bottom: 25px;
  }
  .simple-page p {
    position: relative;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    color: #5a5a5a;
  }
  .simple-page h3 {
    color: #252525;
    font-weight: 700;
  }
  li {
    position: relative;
    font-size: 18px;
    line-height: 1.47em;
    padding-left: 24px;
    &:before {
      width: 11px;
      height: 11px;
      position: absolute;
      left: 0;
      top: 9px;
      border-radius: 100%;
      background: #b5d8f7;
      content: "";
    }
    &::after {
      width: 9px;
      height: 9px;
      position: absolute;
      left: 1px;
      top: 10px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: transparent;
      content: "";
    }
  }
  .block-img {
    border-radius: 10px;
    overflow: hidden;
  }
  .block-left-info {
    max-width: 460px;
    margin-left: 30px;
    margin-right: auto;
  }
}

.container-fluid {
  .accordion {
    position: relative;
    z-index: 1;
    .accordion-item {
      position: relative;
      border: none;
      border-bottom: 1px solid #dcdcdc;
      .accordion-title {
        position: relative;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 700;
        color: #5a5a5a;
        padding: 32px 20px 37px 0;
        cursor: pointer;
        transition: 0.35s;
      }
      .accordion-title:before {
        content: "";
        position: absolute;
        right: 0;
        top: 40px;
        width: 8px;
        height: 8px;
        border-left: 2px solid #5a5a5a;
        border-bottom: 2px solid #5a5a5a;
        transform: rotate(-45deg);
        transition: 0.35s;
      }

      .accordion-inner {
        height: 0;
        opacity: 0;
        overflow: hidden;

        transition: height 1s ease-in-out;
        transition: all 1s ease-in-out;
        .ol {
          li {
            padding-left: 34px;
          }
          li::before {
            position: absolute;
            left: 0;
            top: 6px;
            counter-increment: number;
            content: "0" counter(number);
            font-size: 12px;
            line-height: 1.47em;
            color: #252525;
            font-weight: bold;
            margin-right: 17px;
          }
        }
      }
      .accordion-inner.show {
        opacity: 1;
        height: max-content;
        padding: 0 30px 25px 0;
      }
    }
    .accordion-item:first-child {
      border-top: 1px solid #dcdcdc;
    }
  }
}
