<div class="carousel">
  <div
    class="carousel-track"
    (mousedown)="grab()"
    (mousemove)="move($event)"
    (mouseup)="mouseUp()"
    [style.left.px]="offsetX"
    [ngClass]="{
      magnet: isMagnetActive,
      grabbed: isGrabbed
    }"
  >
    <div *ngFor="let promotion of carouselPromotions" class="item">
      <a class="d-block h-100" [routerLink]="['/promotion', promotion.id]">
        <img [src]="promotion.imagePath" />
      </a>
    </div>
  </div>
</div>
<ul *ngIf="carouselPromotions.length > 2" class="indicators">
  <li
    *ngFor="let indicator of indicators; index as i; first as f"
    (click)="setActiveIndex(i)"
    [class.activeindicator]="i === selectedIndex"
    [class.inactiveindicator]="i !== selectedIndex"
  ></li>
</ul>
