@import "../../../shared/styles/variables";

.grabbed {
  cursor: grab;
}
.carousel {
  position: relative;
  margin: 0 auto;
  margin-top: 125px;
  overflow: hidden;
  height: 300px;
  width: 98vw;
}
.carousel-track {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  width: fit-content;
  user-select: none;
  margin: 0 auto;
}
.magnet {
  transition: 1s;
}
.item {
  width: 49vw;
  box-sizing: border-box;
  font-size: 100px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 10px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
  }
}

.indicators {
  padding: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    width: 12px;
    height: 12px;
    margin: 0 1%;
    background-color: $mainColor;
    border-radius: 50%;
    cursor: pointer;
  
  }
  .activeindicator {
    background-color: rgb(47, 79, 131);
  }
}
