* {
  font-family: "RotondaC";
}
@import "../../shared/styles/base";
@import "../../shared/styles/custome";
@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.run-border {
  @include runBorder;
}
.dynamicUnderline {
  @include dynamicUnderline;
  font-weight: bold;
}
.hidden {
  display: none;
}

.center-info {
  display: flex;
  justify-content: center;
  .title {
    text-overflow: ellipsis;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: $mainColor;
      border-radius: 3px;
    }
  }
}

section {
  width: 100vw;
  .categories-menu {
    margin: 20px 0;
    text-align: center;
    .categories-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      background: #fff;
      min-width: 176px;
      .categories-list-item {
        cursor: pointer;
        padding: 0;
        font-size: 16px;
        min-width: 168px;
        font-weight: bold;
        border: 1px solid #dcdcdc;
        color: #5a5a5a;
        transition: 0.35s;
        margin-left: -1px;
        padding: 17px 0;
      }
    }
  }
  .shop-wrapper {
    margin: 0 30px;
    .product-row {
      box-sizing: border-box;
      border-radius: 30px;
      padding: 1%;
      .product-item {
        margin: 0 10px;
        padding: 10px;
        .product-image-wrap {
          height: 354px;
          img {
            width: 100%;
            top: 25%;
            transition: 0.35s;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.seo-block {
  font-size: 18px;
  .text > *,
  .article > *,
  .article ul,
  .article ol {
    margin-bottom: 20px;
    line-height: 1.6rem;
  }

  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    font-family: "RotondaC-bold";
    line-height: 1.2em;
  }

  .article {
    ul {
      padding: 0;
      li {
        padding-left: 24px;
        margin-bottom: 10px;
        position: relative;
        &::before {
          width: 11px;
          height: 11px;
          position: absolute;
          left: 0;
          top: 9px;
          border-radius: 100%;
          background: #b5d8f7;
          content: "";
          width: 6px;
          height: 6px;
          left: 9px;
          top: 9px;
        }
      }
    }
    .read-more-btn {
      @include openMoreTxtArrow;
      padding-right: 24px;
      font-size: 16px;
    }
    .more-text {
      max-height: 400px;
      transition: all 1s ease-out;
      overflow: hidden;
    }
    .hide {
      max-height: 0;
    }
  }
}
