<div class="spacer-md"></div>
<div class="d-flex admin-content container-fluid px-4">
  <!-- панель навігації -->
  <div class="nav-bar col-2 d-flex flex-column">
    <ul>
        
      <li class="nav-bar-item" >
        <a [routerLink]="[ 'actions']" routerLinkActive="active">Акції</a>
      </li>
      <li class="nav-bar-item">
        <a [routerLink]="[ 'categories']" routerLinkActive="active">Категорії</a>
      </li>
      <li class="nav-bar-item ">
        <a [routerLink]="[ 'products']" routerLinkActive="active">Товари</a>
      </li>
      <li class="nav-bar-item">
        <a [routerLink]="[ 'orders']">Замовлення</a>
      </li>
    </ul>
    <button class="exit-btn" (click)="logout()">ВИХІД</button>
  </div>

  <!-- блок де вставлятимуться дочірні компонетнти адмін-->
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="spacer-md"></div>
