@use "@angular/material" as mat;

@include mat.core();

// -------
$my-palette: mat.define-palette((
  50: #DAE9F6,
  100: #B5D8F7,
  200: #8AC3F4,
  300: #6AB3F4,
  400: #5EA3EF,
  500: #5D96EA,
  600: #5988D9,
  700: #5576C5,
  800: #4C64AE,
  900: #42468B,
  A100: #8EC9FB,
  A200: #69B2FA,
  A400: #629EF6,
  A700: #667DDA,
  contrast: (
    50: #000000, 
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff, 
    600: #ffffff, 
    700: #ffffff, 
    800: #ffffff, 
    900: #ffffff, 
    A100: #000000,
    A200: #ffffff, 
    A400: #ffffff, 
    A700: #ffffff, 
  ),
));


//  той самий колір з мого проекту
// $mailColor: mat.get-color-from-palette($my-palette, 100);   це працювало але поки закоментував

$pp: mat.define-palette(mat.$indigo-palette);
$primary: mat.get-color-from-palette($pp);
$ap: mat.define-palette(mat.$pink-palette);
$accent: mat.get-color-from-palette($ap);
$wp: mat.define-palette(mat.$red-palette);
$warn: mat.get-color-from-palette($wp);

$mp: mat.define-palette(mat.$my-palette);
$m: mat.get-color-from-palette($mp, 100);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $p,
      accent: $ap,
      warn: $wp
    )
  )
);



