// голубий бердер блоку що при ховері рухається по периметру
@mixin customBorder {
  position: relative;
  .for-border {
    display: block;
    height: 100%;
    border-radius: 10px;
    &::before,
    &::after {
      content: "";
      width: 50%;
      height: 0;
      position: absolute;
      transition: all 0.1s linear;
      background-color: transparent;
      border-radius: 5px;
    }
    &::after {
      right: 0;
      top: 0;
      border-right: 2px solid $mainColor;
    }
    &::before {
      left: 0;
      bottom: 0;
      border-left: 2px solid $mainColor;
    }
  }
  &::before,
  &::after {
    content: "";
    width: 0;
    height: 50%;
    position: absolute;
    transition: all 0.1s linear;
    background-color: transparent;
    border-radius: 5px;
  }
  &::after {
    left: 0;
    top: 0;
    border-top: 2px solid $mainColor;
  }
  &:hover::before {
    right: 0;
    bottom: 0;
    border-bottom: 2px solid $mainColor;
  }
  &:hover::before,
  &:hover::after {
    width: 100%;
  }
  &:hover .for-border::before,
  &:hover .for-border::after {
    height: 100%;
  }
  &:hover::after {
    transition-delay: 0s;
  }
  &:hover .for-border::after {
    transition-delay: 0.1s;
  }
  &:hover::before {
    transition-delay: 0.2s;
  }
  &:hover .for-border::before {
    transition-delay: 0.3s;
  }
}
