<app-carrusel></app-carrusel>
<div class="spacer-md"></div>
<div class="after-banner">
  <div class="container-banner">
    <div class="row">
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mn-delivery-img.svg"
              alt=""
              width="135px"
            />
          </div>
          <a href="#">зони доставки</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mono-supermen.svg"
              width="90px"
              alt="mono-supermen"
            />
          </div>
          <div class="after-banner-info">
            Середній час доставки в зеленій зоні <b>00:43:00</b>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mono-bonus.svg"
              alt="momo bonus"
              width="75px"
            />
          </div>
          <div class="after-banner-info"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-lg"></div>
<div class="center-info">
  <h1 class="h2 title text-center">Продукти</h1>
</div>

<!-- products -->
<section aria-label="products">
  <div class="container-fluid">
    <div class="shop-wrapper">
      <div class="row product-row">
        <div *ngFor="let product of homeProducts" class="col-3">
          <div class="product-item run-border">
            <div
              [routerLink]="['/products/' + product.category.path, product.id]"
              class="product-image-wrap mb-2"
            >
              <img
                [src]="product.imagePath"
                [alt]="product.name"
                class="w-100"
              />
            </div>
            <div class="product-title-wrap">
              <h4
                class="text-center product-title"
                [routerLink]="[
                  '/products/' + product.category.path,
                  product.id
                ]"
              >
                {{ product.name }}
              </h4>
            </div>
            <div class="product-desc">
              {{ product.description }}
            </div>
            <div class="product-weight">{{ product.weight }}</div>
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="text-danger">{{ product.price }}грн</h5>
              <div class="d-flex">
                <button
                  (click)="productCount(product, false)"
                  type="button"
                  class="btn btn-outline-danger"
                >
                  -
                </button>
                <input
                  [value]="product.count"
                  style="width: 40px"
                  class="form-control"
                />
                <button
                  (click)="productCount(product, true)"
                  type="button"
                  class="btn btn-outline-danger"
                >
                  +
                </button>
              </div>
              <button
                (click)="addToBasket(product)"
                class="btn btn-outline-danger d-block"
              >
                ЗАМОВИТИ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
