<app-carrusel></app-carrusel>
<div class="spacer-md"></div>
<div class="after-banner">
  <div class="container-banner">
    <div class="row">
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mn-delivery-img.svg"
              alt=""
              width="135px"
            />
          </div>
          <a href="#">зони доставки</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mono-supermen.svg"
              width="90px"
              alt="mono-supermen"
            />
          </div>
          <div class="after-banner-info">
            Середній час доставки в зеленій зоні <b>00:43:00</b>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mono-bonus.svg"
              alt="momo bonus"
              width="75px"
            />
          </div>
          <div class="after-banner-info"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-lg"></div>