<app-carrusel></app-carrusel>
<div class="spacer-md"></div>
<div class="after-banner">
  <div class="container-banner">
    <div class="row">
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mn-delivery-img.svg"
              alt=""
              width="135px"
            />
          </div>
          <a href="#">зони доставки</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mono-supermen.svg"
              width="90px"
              alt="mono-supermen"
            />
          </div>
          <div class="after-banner-info">
            Середній час доставки в зеленій зоні <b>00:43:00</b>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="after-banner-item">
          <div class="after-banner-img">
            <img
              src="../../../assets/images/mono-bonus.svg"
              alt="momo bonus"
              width="75px"
            />
          </div>
          <div class="after-banner-info"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-lg"></div>
<section>
  <div class="container-fluid">
    <div class="sub-categories-menu">
      <ul class="sub-categories-list">
        <li
          *ngFor="let subCateg of rollSubCategories"
          class="sub-categories-list-item active"
          [class.active]="subCateg === selectedSubCategory"
          (click)="selectCategory(subCateg)"
        >
          {{ subCateg }}
        </li>
      </ul>
    </div>
    <div class="shop-wrapper">
      <div class="row product-row">
        <div
          *ngFor="let product of homeRollProducts"
          class="col-sm-6 col-lg-4 col-xl-3"
        >
          <div class="product-item run-border">
            <div class="product-image-wrap">
              <a class="product-image" href="#">
                <img [src]="product.imagePath" alt="" />
              </a>
            </div>
            <div class="product-title-wrap">
              <div class="product-title">
                <a href="">{{ product.name }}</a>
              </div>
            </div>
            <div class="product-desc">
              <p>{{ product.description }}</p>
              <div class="product-size">
                <span> {{ product.weight }}</span>
                г
              </div>
            </div>
            <div class="product-controls">
              <div class="product_price-wrap">
                <div class="product_price">
                  <b>{{ product.price }}</b>
                  грн
                </div>
              </div>
              <div class="thumb-input-number">
                <button type="button" class="btn-minus">-</button>
                <input value="1" readonly />
                <button type="button" class="btn-plus">+</button>
              </div>
              <button class="btn-primary">ЗАМОВИТИ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="seo-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col col-xl-9 col-lg-12">
        <div class="spacer-md"></div>
        <div class="row seo-block-inner">
          <div class="col-12 no-image align-self-center">
            <div class="seo-block-info">
              <div class="article">
                <h1>Суші у Львові</h1>
                <p>
                  Зголодніли? Доставка суші у Львові від Monosushi — це чудовий
                  вибір! Філадельфія, Каліфорнія, Зелений Дракон, авторські
                  запечені роли — різноманітне та смачне меню чекає саме на вас.
                  Ми знаємо, як задовільнити примхи навіть найвибагливіших
                  гурманів. Готуємо смачно, доставляємо швидко, пропонуємо
                  <a routerLink="/promotion" class="text-link"
                    >акції та знижки!</a
                  >
                </p>
                <h2>Швидка доставка суші у Львові</h2>
                <p>
                  шаленому ритмі сучасного життя не хочеться витрачати час на
                  приготування їжі. Саме тому, доставка ролів — це чудова ідея!
                  Незалежно від нагоди та погоди за вікном, смачні суші
                  піднімуть настрій. На обід, вечерю, романтичне побачення чи
                  домашню вечірку — замовити роли можна з будь-якої нагоди.
                </p>
                <p>
                  Просто оберіть суші з меню, а про майстерне приготування та
                  швидку доставку в будь-який куточок міста подбаємо ми!
                </p>
                <h2>Найкраще меню суші у Львові</h2>
                <p>
                  У нас ви можете обрати класичні холодні суші: Філадельфія з
                  лососем, Каліфорнія з вугрем, Зелений Дракон. А також
                  спробувати фірмові запечені роли, які нікого не залишать
                  байдужими.
                </p>
                <p>
                  У нас ви можете обрати класичні холодні суші:
                  <a class="text-link">Філадельфія з лососем</a> ,
                  <a href="" class="text-link">Каліфорнія з вугрем</a>, Зелений
                  Дракон. А також спробувати фірмові запечені роли, які нікого
                  не залишать байдужими.
                </p>
                <p>
                  Сети суші від Моносуші — чудовий вибір для компанії. Апетитні
                  набори ролів поєднують різні смаки та види ролів, щоб ви могли
                  по-справжньому насолоджуватися.
                </p>
                <h2>Чому варто замовити суші в Monosushi?</h2>
                <p>
                  Ми любимо суші та справді добре їх готуємо! Замовити суші у
                  Львові від Monosushi — це чудова ідея. Адже наша доставка
                  гарантує:
                </p>
                <ul>
                  <li>
                    Високу якість. Тільки найкращі роли за рецептами від шефа та
                    добірні інгредієнти — наше правило. Водорості норі, лосось,
                    вугор, ікра, кунжут — все це та багато іншого ми купуємо
                    лише в перевірених постачальників.
                  </li>
                  <li>
                    Асортимент на різний смак. Ми пропонуємо страви на різні
                    смаки: класичні роли, авторські суші, великі сети на
                    компанії. Все це в наявності завжди.
                  </li>
                  <li>
                    Швидкість доставки. Забудьте про тривале очікування:
                    улюблені суші будуть на вашому столі вже за 60 хвилин.
                  </li>
                </ul>
                <p>
                  Для наших гостей ми смачно готуємо, швидко доставляємо по
                  Львову та пропонуємо найвигідніші ціни. Обирайте Monosushi та
                  насолоджуйтеся!
                </p>
                <div class="more-text">
                  <div *ngIf="moreTextStatus" class="article">
                    <h2>Найпоширеніші запитання про доставку суші</h2>
                    <p><strong>Скільки часу очікувати на доставку?</strong></p>
                    <p>
                      Доставка суші у Львові Monosushi працює дуже швидко:
                      всього 1 година у зеленій зоні та 1,5 год у жовтій зоні.
                    </p>
                    <p><strong>Як я можу оплатити своє замовлення?</strong></p>
                    <p>
                      Готівкою, онлайн при оформленні або карткою при отримані.
                      Спосіб оплати замовлення ви можете обрати під час
                      оформлення або повідомити нам телефоном.
                    </p>
                    <p><strong>Чи можливий самовивіз?</strong></p>
                    <p>
                      Так, звичайно. До самовивозу ми даруємо запечений рол моно
                      макі. Ви можете забрати своє замовлення самостійно з точок
                      самовивозу Monosushi: вул. Володимира Великого, 10в; вул.
                      Чорновола, 95 вул. Зелена 204б.
                    </p>
                    <p>
                      <strong>Є знижки за невчасну доставку замовлення?</strong>
                    </p>
                    <p>
                      Кур’єри завжди доставляють замовлення вчасно, але у разі
                      запізнення ми обов’язково запропонуємо вам компенсацію. З
                      переліком наших акцій, знижок та спеціальних пропозицій ви
                      можете ознайомитися у відповідному розділі на сайті.
                    </p>
                    <p><strong>Який у вас графік роботи?</strong></p>
                    <p>
                      Ми працюємо з 11:00 до 22:30 кожного дня, без вихідних.
                    </p>
                  </div>
                  <div
                    (click)="changeMoreTextStatus()"
                    class="button-link read-more"
                  >
                    {{ moreTextStatus ? "Згорнути" : "Дізнатись більше" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-xl"></div>
</div>
