<div class="container border">
  <h2>Зміна паролю</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Ваш поточний пароль</mat-label>
            <input matInput type="text" formControlName="currentPassword" />
            <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid">
              Поточний пароль обов'язковий
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Новий пароль</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="newPassword" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
              <mat-icon class="my-icon">{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid">
              Новий пароль обов'язковий
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Повторіть пароль</mat-label>
            <input matInput [type]="confirmPasswordVisible ? 'text' : 'password'"  formControlName="confirmNewPassword" />
            <button mat-icon-button matSuffix (click)="toggleConfirmePasswordVisibility()" type="button">
              <mat-icon class="my-icon">{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid">
              Підтвердження нового пароля обов'язкове
            </mat-error>
          </mat-form-field>
        </div>

    <button type="button" class="my-btn btn-cancel mr-5" >
      СКАСУВАТИ
    </button>
    <button type="submit" class="my-btn btn-submit" [disabled]="changePasswordForm.invalid">
      ЗБЕРЕГТИ ЗМІНИ
    </button>
  </form>
</div>
