<div class="row">
  <div class="col-3 m-auto border-1">
    <form [formGroup]="authForm" (ngSubmit)="loginUser()">
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input
          formControlName="email"
          type="text"
          name="email"
          id="email"
          placeholder="*email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="*Password"
        />
      </div>
      <div>
        <button
          [class.disabled]="authForm.invalid"
          type="submit"
          class="btn btn-success w-100"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
