
@use '../src/app/shared/styles/_custom-theme' as *;



@use "./app/shared/styles/base";
@use "ngx-toastr/toastr";

@font-face {
  font-family: "RotondaC";
  src: url("./assets/fonts/RotondaC/RotondaC.ttf") format("truetype"),
    url("./assets/fonts/RotondaC/RotondaC.woff") format("woff");
}

@font-face {
  font-family: "RotondaC-bold";
  src: url("./assets/fonts/RotondaC/RotondaC-Bold.ttf") format("truetype"),
    url("./assets/fonts/RotondaC/RotondaC-Bold.woff") format("woff");
}


// фон модалки angular material
.dialog-back {
  background-color: rgba(0, 0, 0, 0.5);
}




